body{
  font-family: sans-serif;
}

#assignment-instructions{
  color:#00897B;
  font-family:sans-serif;
}

.second-li code{
  color: blue;
  font-weight: bold;
}

code{
  color:red;
  font-family: monospace;
}

li + li{
  color: white;
  background: black;
}

ol > li{
  color: white;
  background: black;
}





